name: Acquire Unity License (ALF)

on:
  workflow_dispatch: {}

permissions:
  contents: read

jobs:
  activation:
    name: Request activation file
    runs-on: ubuntu-latest
    steps:
      - name: Request manual activation file
        id: alf
        uses: game-ci/unity-request-activation-file@v2
        with:
          unityVersion: 2022.3.22f1

      - name: Upload activation file
        uses: actions/upload-artifact@v4
        with:
          name: Unity-Activation-File
          path: ${{ steps.alf.outputs.filePath }}
